.form-container {
  background-color: #F9F9F9;
  padding: 50px 30px;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2;
}

.resume-label::after {
  content: ' *';
  color: red;
}

.attach-button {
  border-radius: 3px;
  border: 1px solid rgb(220, 220, 220);
  letter-spacing: 2px;
  color: rgb(138, 138, 138);
  background-color: rgb(242, 242, 242);
  padding: 5px 15px;
}

.attach-button i {
  color: rgb(138, 138, 138);
}

.attach-button:focus, .attach-button:hover {
  background-color: rgb(233, 233, 233);
  color: rgb(68, 68, 68);
}

.attach-button:focus i, .attach-button:hover i {
  color: rgb(68, 68, 68);
}


textarea {
  border: 1px solid var(--lighter-gray);
  border-radius: 3px;
  height: 150px;
  width: 100%;
  padding: 4px 4px 4px 15px;
}

textarea:focus {
  border-color: var(--dark-gray);
  outline: none;
}

.recaptcha-wrapper div {
  margin: 0 auto;
}

.submit-button {
  color: white;
  background-color: #4b60e5;
  border: none;
  border-radius: 3px;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
}

.submit-button:hover {
  background-color: #4456cf;
}

@media only screen and (min-width: 820px) {
  .form-container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (min-width: 1024px) {
  .form-container {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media only screen and (min-width: 1120px) {
  .form-container {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media only screen and (min-width: 1200px) {
  .form-container {
    padding-left: 300px;
    padding-right: 300px;
  }
}