select {
  border: 1px solid var(--lighter-gray);
  border-radius: 3px;
  height: 40px;
  width: 100%;
  padding: 4px 4px 4px 15px;
}

select:focus {
  border-color: var(--dark-gray);
  outline: none;
}

/* remove the original arrow */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  background-color: rgb(233, 233, 233);
  border: none;
}

select:focus {
  background-color: rgb(189, 189, 189);

}

select + i.fa-chevron-down {
  color: var(--light-gray);
  position: relative;
  float: right;
  margin-top: -30px;
  margin-right: 15px;
  pointer-events: none;
}

.fa-info-circle {
  color: white;
  background-color: var(--light-gray);
  border-radius: 50%;
  border: 1px gray solid;
  cursor: pointer;
}

.fa-info-circle:hover {
  background-color: var(--dark-gray);
  border-color: var(--dark-gray);
}