:root {
  --dark-gray: #515357;
  --light-gray: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --dark-gray: #515357;
}

h1 {
  font-size: 2.5rem;
  color: var(--dark-gray);
}


